<p>articulo works!</p>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates cum
  laboriosam vel, dolorem atque perspiciatis, esse commodi ducimus, recusandae
  nam sit. Ut eveniet nostrum dignissimos mollitia dolore? Officiis, consectetur
  distinctio.
</p>
<h1>{{nombreVideo}}</h1>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/GrYFfTvLsDM?si=b0m-c-nDVp-7WxSC"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
